<!DOCTYPE html>
<html lang="en">
    <%- include('./patials/head.ejs') %>
<body>

    <%- include('./patials/nav.ejs') %>

  

<div class="not-found content">
<h2>404</h2>
OOPS,Page not found :)

</div>
<%- include('./patials/footer.ejs') %>
</body>
</html>