<!DOCTYPE html>
<html lang="en">
    <%- include('./patials/head.ejs') %>
<body>

    <%- include('./patials/nav.ejs') %>

<div class="about content">
<h2>About Us</h2>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque perferendis modi quam nisi consectetur. Suscipit, labore praesentium ratione repudiandae sint id possimus rerum fugiat exercitationem explicabo libero aut quas harum!</p>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque perferendis modi quam nisi consectetur. Suscipit, labore praesentium ratione repudiandae sint id possimus rerum fugiat exercitationem explicabo libero aut quas harum!</p>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque perferendis modi quam nisi consectetur. Suscipit, labore praesentium ratione repudiandae sint id possimus rerum fugiat exercitationem explicabo libero aut quas harum!</p>

</div>
<%- include('./patials/footer.ejs') %>
</body>
</html>